footer{
    padding-top: 50px;
    padding-bottom: 50px;
}
footer h2{
    text-align: left;
    color: #CA8A2F;
    border-bottom: 1px solid #CA8A2F;
    line-height: 50px;
    font-size: 24px;
    font-family: 'Playfair Display Bold';
    margin-bottom: 25px;
    font-weight: 700;
}
footer ul{
    padding-left: 0;    
}
footer ul li{
    list-style-type: none;
    font-size: 16px;
    color: #005663;
    font-family: 'Futura Md Bt';
    text-align: left;    
    padding: 5px 0;
}
footer a{
    color: #005663;
}
footer .footer-bottom{
    padding-top: 50px;    
}
footer .footer-bottom ul li{
    display: inline;
    padding: 0 25px 0 0;    
}
footer .footer-bottom p,footer .footer-bottom a{
    color: #005663;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}