<footer class="container">
  <div class="row m-0">
    <div class="col-lg-3">
      <h2>Services</h2>
      <ul>
        <li><a href="#" routerLink="/eventsplanning">Events Planning</a></li>
        <li><a href="#" routerLink="/menu">Menu</a></li>
        <li><a href="#" routerLink="/catering">Catering</a></li>
        <li><a href="#" routerLink="/eventdecor">Event Decor</a></li>
        <li><a href="#" routerLink="/outdoorcatering">Outdoor Catering</a></li>
      </ul>
    </div>
    <div class="col-lg-3">
      <h2>Navigation</h2>
      <ul>
        <li><a href="">About Us</a></li>
        <li><a href="">Gallery</a></li>
        <li><a href="#" routerLink="/contact">Contact Us</a></li>          
      </ul>
    </div>
    <div class="col-lg-3">
      <h2>Get Social</h2>
      <ul>
        <li><a href=""><i class="fa fa-facebook-square mr-2"></i>Facebook</a></li>
        <li><a href=""><i class="fa fa-twitter-square mr-2"></i>Twitter</a></li>
        <li><a href=""><i class="fa fa-instagram mr-2"></i>Instagram</a></li>        
      </ul>
    </div>
    <div class="col-lg-3">
      <h2>Contact</h2>
      <ul>
        <li><a href="">Tel: 020 8590 8747</a></li>
        <li><a href="">Mob: 07752960415</a></li>
        <li><a href="">Email: info@rayyans.co.uk</a></li>        
        <li>12 bridge close, Romford</li>
        <li>Essex, London, RM7 OAU</li>
      </ul>
    </div>
  </div>
  <div class="row footer-bottom">
    <div class="col-lg-3">
      <ul>
        <li><a href="">Terms</a></li>
        <li><a href="">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-lg-5">
      <p>&#169;2019 Rayyan Banqueting Lounge. All Rights Reserved.</p>
    </div>
    <div class="col-lg-4">
      <p>Web Design London - <a href="#">Quick Innovations</a></p>
    </div>
  </div>
</footer>