<div class="events-bnr">
  <img src="/assets/img/logo.png" alt="">
  <div class="content-block">
    <img src="/assets/img/inrpg-cap.png" alt="">
    <h4>Events Planning</h4>
  </div> 
</div>
<div class="row m-0">
  <div class="col-lg-8 offset-lg-2 event-content">
    <p>Regardless of what you are celebrating, your event can turn into a ‘special event’ by adding the extra touches only Rayyans can offer. From start to finish, we plan your events especially for you. When you are ready to discuss your arrangements, we will be happy to create the perfect menu to suit your needs. It provides clients, the flexibility to design their own event.</p>
  </div>
</div>
<div class="events">
    <div class="row m-0">    
        <div class="col-lg-6 event-content">
          <h3>Corporate Events</h3>
          <p>Whether planning a corporate gathering for your clients, Rayyans provides the right ambiance, wonderful service, excellent cuisine in the ideal setting.The Rayyans is the perfect venue for your corporate event.</p>
          <a href="" routerLink="/contact">Contact Us</a>
        </div>
        <div class="col-lg-6 p-0">
          <img src="/assets/img/event1.png" alt="">
        </div>
      </div>
  <div class="row m-0">
    <div class="col-lg-6 p-0">
      <img src="/assets/img/event2.png" alt="">
    </div>
    <div class="col-lg-6 event-content">
      <h3>Weddings</h3>
      <p>We pride ourselves on creating perfect weddings & special events for an unforgettable experience, any time, any place, anywhere! We will give you and your guests a unique and unforgettable experience.</p>
      <a href="" routerLink="/contact">Contact Us</a>
    </div>
  </div>
  <div class="row m-0">    
    <div class="col-lg-6 event-content">
      <h3>Weddings</h3>
      <p>Rayyan provide good quality and service for the events you arrange for the clients. The basic need for your event will be the venue for your conferences. We provide the pleasant environment for the guest's.</p>
      <a href="" routerLink="/contact">Contact Us</a>
    </div>
    <div class="col-lg-6 p-0">
      <img src="/assets/img/event3.png" alt="">
    </div>
  </div>
  <div class="row m-0">
      <div class="col-lg-6 p-0">
        <img src="/assets/img/event4.png" alt="">
      </div>
      <div class="col-lg-6 event-content">
        <h3>Exhibitions</h3>
        <p>The Rayyans is a perfect exhibition environment. We provide a great environment for your exhibitors to present ideas about their products and services. The flexibility allowed makes you feel fresh for the innovative ideas with you.</p>
        <a href="" routerLink="/contact">Contact Us</a>
      </div>
    </div>
    <div class="row m-0">    
      <div class="col-lg-6 event-content">
        <h3>Other Events</h3>
        <p>In today’s time-short world, whilst planning your event, it makes sense to have a one-stop event service provider to help co-create your big occasion.</p>
        <a href="" routerLink="/contact">Contact Us</a>
      </div>
      <div class="col-lg-6 p-0">
        <img src="/assets/img/event5.png" alt="">
      </div>
    </div>
</div>

