<div class="contact-bnr">
  <img src="/assets/img/rayyan-logo.png" alt="">
  <div class="content-block">
    <img src="/assets/img/inrpg-cap.png" alt="">
    <h4>Contact Us</h4>
  </div>  
</div>
<div class="row contact-block2 m-0">
    <div class="col-lg-3">
      <h3>500</h3>
      <h5>Seater Marquee</h5>
    </div>
    <div class="col-lg-3">
      <h3>300</h3>
      <h5>Covers Restaurant</h5>
    </div>
    <div class="col-lg-3">
      <h3>300</h3>
      <h5>Car Park</h5>
    </div>
    <div class="col-lg-3">
      <h3>Play Area</h3>
      <h5>For Children</h5>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4959.494045268376!2d0.181104!3d51.572871!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x72f6ee29d723ec49!2sRAYYAN+BANQUETING+LOUNGE!5e0!3m2!1sen!2sin!4v1561449767405!5m2!1sen!2sin" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6 contactus">
          <h2>Get in Touch</h2>
          <form action="#" method="POST" class="form-data">                  
            <div class="row m-0">
              <div class="col-lg-6">
                <mat-form-field>
                    <mat-label>Full Name</mat-label>
                    <input matInput placeholder="Full Name">
                    <mat-hint>Enter your Name</mat-hint>
                  </mat-form-field>            
              </div>
              <div class="col-lg-6">
                <mat-form-field>
                  <mat-label>Mobile Number</mat-label>
                  <input matInput placeholder="Mobile Number">
                  <mat-hint>Enter your Number</mat-hint>
                </mat-form-field>            
              </div>
            </div>
            <div class="row m-0">
              <div class="col-lg-12">
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email">
                  <mat-hint>Enter your Mailid</mat-hint>
                </mat-form-field>                 
              </div>
              <div class="col-lg-12">
                <mat-form-field>
                  <mat-label>Query</mat-label>
                  <textarea matInput placeholder="Write your Query"></textarea>
                  <mat-hint>Enter your Query</mat-hint>
                </mat-form-field> 
              </div>
              <div class="m-auto">
                <button mat-stroked-button color="primary">Sumbit</button>
                <button mat-raised-button color="primary">Clear</button>
              </div>              
            </div>                
          </form>
        </div>
      </div>
  </div>
