.contact-bnr{
    background-image: url('/assets/img/contact-bnr.jpg');
    height: 650px;
    padding-top: 50px;
}
.contact-bnr img{
    margin: 0 auto;
    display: block;
    padding: 10px 0;
}

.contact-bnr h4{
    color: #fff;
    text-align: center;
    font-family: 'Playfair Display Itallic';
    font-size: 38px;
}
.content-block{
    position: relative;
}
.content-block img{
    padding: 125px 0;
}
.content-block h4{
    position: absolute;
    top: 45%;
    left: 44%;
}
.contact-block2{    
    font-family: ;
    text-align: center;
    color: #005663;
    padding: 50px 50px;
}
.contact-block2 h3{
    font-family: 'Playfair Display Bold';
    font-size: 36px;   
    margin-bottom: 18px;
}
.contact-block2 h5{
    font-family: 'Futura Md Bt';
    font-weight: 500;
    font-size: 30px;
}
mat-form-field{ 
    width: 100%;
    padding: 20px 0;
}
.contactus h2{
    text-align: center;
    color: #005663;
    font-weight: 700;
    font-family: 'Playfair Display Bold';
    text-transform: uppercase;
    font-size: 36px;
}
.contactus button{
    margin: 10px 15px;
}