.menu-bnr{
    background-image:url('/assets/img/menu-bnr.jpg');
    height: 650px;
    padding-toP: 70px;
}
.menu-bnr img{
    margin: 0 auto;
    display: block;
}
.content-block{
    position: relative;
}
.content-block img{
    padding: 125px 0;
}
.content-block h4{
    position: absolute;
    top: 45%;
    left: 47%;
    color: #fff;
    text-align: center;
    font-family: 'Playfair Display Itallic';
    font-size: 38px;
}
.menu-block h2{
    color: #ca8a2f;
    font-family: 'Futura Md Bt';
    padding-bottom: 25px;
    border-bottom: 1px solid #c2c3c3;
    margin-bottom: 18px;
    margin-top: 0;
}
.menu-block h4{
    color: #005663;
    font-family: 'Futura Md Bt';
    font-size: 20px;
    margin-bottom: 18px;
}
.menu-block p{
    color: #565656;
    font-family: 'Gabriola';
    font-size: 20px;
    margin-bottom: 45px;
}