<div class="menu-bnr">
  <img src="/assets/img/logo.png" alt="">
  <div class="content-block">
    <img src="/assets/img/inrpg-cap.png" alt="">
    <h4>Menu</h4>
  </div>
</div>
<div class="row menu-block p-5 m-0">
  <div class="col-lg-12">
    <mat-tab-group>
      <mat-tab label="Steaks">
        <h2>Steaks</h2>
        <div class="row m-0">
          <div class="col-lg-6">
            <h4>Chicken Steak - &pound; 7.50</h4>
            <p>Fillet of breast chicken with creamy pepper sauce Served with stir fried mixed vegetables and chips</p>
          </div>
          <div class="col-lg-6">
            <h4>Lamb pepper steak - &pound; 9.50</h4>
            <p>Fillet of breast with creamy pepper sauce,served with stir fried vegetables & chips</p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Salad">
        <h2>Salad</h2>
        <div class="row m-0">
          <div class="col-lg-6">
            <h4>Kuchumber Salad(N) - &pound; 2.50</h4>
            <p>Carrot, green bean and potato salad flavoured with coconut and curry leaves</p>
          </div>
          <div class="col-lg-6">
            <h4>Rayyan Special salad - &pound; 3.25</h4>
            <p>A spicy raw papaya and peanut salad</p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Appetiser">
          <h2>Appetiser</h2>
          <div class="row m-0">
            <div class="col-lg-6">
              <h4>Shakarkandi Ki Chat - &pound; 3.45</h4>
              <p>Pan fried crispy sweet potato cubes tossed with black salt, cumin and lemon juice</p>
            </div>
            <div class="col-lg-6">
              <h4>Chicken pakora- deep fried - &pound; 3.65</h4>
              <p>Succulent chicken breast pieces marinated in spices coated in a Light spicy batter</p>
            </div>
          </div>
      </mat-tab>
      <mat-tab label="Bread">
        <h2>Bread</h2>
          <div class="row m-0">
            <div class="col-lg-6">
              <h4>Tandooro roti - &pound; 1.25</h4>              
            </div>
            <div class="col-lg-6">
              <h4>Peshwari naan - &pound; 2.95</h4>            
            </div>
          </div>
      </mat-tab>
      <mat-tab label="Sundries">
        <h2>Sundries</h2>
          <div class="row m-0">
            <div class="col-lg-6">
              <h4>Mini papadum basket - &pound; 1.75</h4>              
              <p>with chutney tray</p>
            </div>
            <div class="col-lg-6">
              <h4>Raita - &pound; 1.25</h4>            
            </div>
          </div>
      </mat-tab>
      <mat-tab label="Rice">
        <h2>Rice</h2>
        <div class="row m-0">
          <div class="col-lg-6">
            <h4>Mint coriander pulao - &pound; 1.75</h4>                          
          </div>
          <div class="col-lg-6">
            <h4>Saffron pulao - &pound; 2.25</h4>            
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Biryani">
        <h2>Biryani</h2>
        <div class="row m-0">
          <div class="col-lg-6">
            <h4>Lamb Biriyani - &pound; 7.95</h4>                          
            <p>The quaint essential rice celebration of aromatic long grain Basmati & Choicest marinated lamb cooked on a â€˜dumâ€™ & served in seal handi</p>
          </div>
          <div class="col-lg-6">
            <h4>Chicken Biriyani - &pound; 6.95</h4>            
            <p>Boneless piece of chicken marinated and cooked with Aromatic spices in a sealed handi</p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Sizzlling Vegetarian">
        <h2>Sizzlling Vegetarian</h2>
        <div class="row m-0">
          <div class="col-lg-6">
            <h4>Paneer tikka - &pound; 4.25</h4>                          
            <p>Cubes of coated veg. cheese marinated in creamy saffron sauce cooked on charcoal In a clay oven to perfection</p>
          </div>
          <div class="col-lg-6">
            <h4>Alu Nazakat - &pound; 4.50</h4>            
            <p>Tandoor roasted whole scooped potates stuffed with fresh pineapple and fried Potatoes masala</p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Sizzlling Sea Food">
        <h2>Sizzlling Sea Food</h2>
        <div class="row m-0">
          <div class="col-lg-6">
            <h4>Mahi salmon tikka - &pound; 8.95</h4>                          
            <p>Salmon cubes marinated fenugreek flavoured white sauce,curd & spices & cooked on charcoal in a clay oven to perfectiona</p>
          </div>
          <div class="col-lg-6">
            <h4>Hussaini Zhinga - &pound; 10.45</h4>            
            <p>An exotic dish with large prawns marinated ion blend yoghurt ,garlic And rare spices</p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Tandoori sizzlling dishes">
        <h2>Tandoori sizzlling dishes</h2>
        <div class="row m-0">
          <div class="col-lg-6">
            <h4>Murg Malai Tikka - &pound; 5.95</h4>                          
            <p>Succulent piece of chicken breasty marinated in cheese ,A Cream,curd & spices cooked to perfection in a clay oven</p>
          </div>
          <div class="col-lg-6">
            <h4>Chicken tikka - &pound; 5.95</h4>            
            <p>Chicken marinated in kashmiri red chilli and creamy yoghurt finished in Tandoor</p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Non-Vegetarian Dishes">
        <h2>Non-Vegetarian Dishes</h2>
        <div class="row m-0">
            <div class="col-lg-6">
              <h4>Murg wajid ali shah(N) - &pound; 7.25</h4>  
              <p>Roasted chicken breast stuffed with onion and khoya and Served in saffron and cashew nut gravy (sweet taste)</p>
            </div>
            <div class="col-lg-6">
              <h4>Karahi Murg - &pound; 6.95</h4>
              <p>Succulent pieces of chicken breast cubes skilfully cooked with spices & fresh herbs In a iron souk on high flames</p>
            </div>
          </div>
      </mat-tab>
      <mat-tab label="Vegetarian Dishes">
          <h2>Vegetarian Dishes</h2>
          <div class="row m-0">
          <div class="col-lg-6">
              <h4>Karahi Paneer - &pound; 4.50</h4>  
              <p>Paneer, tomato capsicum gently cooked in kadhai with Indian spices</p>
            </div>
            <div class="col-lg-6">
              <h4>Chilli Paneer - &pound; 4.75</h4>
              <p>Colocassia stir fried with spring onions & drizzled with black pepper corns</p>
            </div>
          </div>
        </mat-tab>
    </mat-tab-group>
  </div>
</div>