<div class="catering-bnr">
  <div [@openClose]="isOpen ? 'open' : 'close'" class="open-close-container">
    <p>Hai..!Animations are working...</p>
    <p>The box is now {{ isOpen ? 'Open' : 'close' }}!</p>
  </div>  
</div>
<div class="container">
  <h1>Pass object from component to view</h1>
  <table border="1" cellpadding="10">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th> 
      <th>Status</th>
    </tr>
    <tr>
      <td>{{ name }}</td>
      <td>{{ age }}</td>
      <td>{{ email }}</td>
      <td>{{ status }}</td>
    </tr>
  </table>

  <h1>Pass objects list from component to view</h1>
  <h3>Product Info</h3>
  <table border="1" cellpadding="10">
    <tr>
      <th>Id</th>
      <th>Pname</th>
      <th>Photo</th>
      <th>Price</th> 
      <th>Quantity</th>
      <th>Total</th>
    </tr>
    <tr *ngFor='let product of products'>
      <td>{{ product.id }}</td>
      <td>{{ product.pname }}</td>
      <td>
        <img src="assets/img/{{ product.photo }}" alt="">
      </td>
      <td>{{ product.price }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.price * product.quantity }}</td>
    </tr>
  </table>
  <div>
    <button mat-button color="accent" (click)="clickme()">Clickme!</button>
    {{ result }}
  </div>
  <div>
    <mat-form-field>
        <input placeholder="Enter the name" (keyup)="display($event)" matInput>
    </mat-form-field>
    {{ txtresult }}
  </div>
  <div>
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option *ngFor="let month of months" value="{{month}}">{{ month | titlecase }}</mat-option>        
      </mat-select>
    </mat-form-field>
    {{ catresult }}
    <span *ngIf= 'isAvailable; else conditon1'>Valid</span>
    <ng-template #conditon1>Invalid</ng-template>
  </div>
  <div>
    <h4>Custom Directive</h4>
    <span appChangeText>Welcome to {{ gallerytitle }}.</span>
  </div>
  <div class="my-5">
    <h3>Latest Samsung Mobiles</h3>
    <mat-divider></mat-divider>
    <div class="row pt-3">    
      <div class="col-md-3 col-sm-6 mobile-block" *ngFor="let mobile of mobiles">
          <mat-card class="example-card">
            <mat-card-header>
              <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
            </mat-card-header>              
            <img mat-card-image src="/assets/img/samsung/{{ mobile.mobilepic }}" alt="">
            <mat-card-content>            
              <h4>{{ mobile.mobilename | titlecase }}</h4>
              <h5>{{ mobile.mobileprice }}</h5>                                                                  
            </mat-card-content>              
          </mat-card>          
      </div>
    </div>
  </div>
</div>