.catering-bnr{
    background-image: url('/assets/img/contact-bnr.jpg');
    height: 650px;
    padding-top: 70px;
}
.open-close-container {
    border: 1px solid #dddddd;
    margin-top: 1em;
    padding: 20px 20px 0px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }
table
{
    text-align: center;
    margin: 0 auto;
}
/* .example-header-image {
    background-image: url('/assets/img/blu.png');
    background-size: cover;
} */
mat-card p{
    padding: 5px;
}
mat-card mat-card-header{
    float: right;
    text-align: right;
}
mat-card h4{    
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
mat-card h5{
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}