.event-bnr{
    background-image: url('/assets/img/contact-bnr.jpg');
    height: 650px;
    padding-top: 70px;
}
.event-bnr img{
    margin: 0 auto;
    display: block;    
}
.content-block{
    position: relative;
}
.content-block img{
    padding: 125px 0;
}
.content-block h4{
    position: absolute;
    top: 45%;
    left: 43%;
    color: #fff;
    text-align: center;
    font-family: 'Playfair Display Itallic';
    font-size: 38px;
}
.event-content p{
    color: #005663;
    font-size: 30px;
    font-family: 'Futura Lt Bt';
    font-weight: 500;
    line-height: 54px;
    text-align: center;
    padding: 25px 0;
}
.event-content-para p{
    color: #005663;
    font-size: 30px;
    font-family: 'Futura Lt Bt';
    font-weight: 500;
    line-height: 54px;
    text-align: center;
    padding: 50px 0;
}
.event img{
    width: 675px;
    height: 620px;
}
.event{
    background-color: #00262C;
}
.event .event-content{
    padding: 106px;
}
.event h3{
    font-family: 'Futura Md Bt';
    color: #ca8a2f;
    /* margin-bottom: 45px; */
    font-size: 30px;
    text-align: left;
}
.event p{
    font-family: 'Gabriola';
    font-size: 24px;
    line-height: 1.6;
    /* margin-bottom: 45px; */
    color: #fff;
    text-align: left;
}
.event a{
    color: #ca8a2f;
    font-size: 20px;
    font-family: 'Futura Lt Bt';
    padding: 12px 27px;
    border-top: 1px solid #ca8a2f;
    border-bottom: 1px solid #ca8a2f;
    text-decoration: none;
    text-align: center;    
}