<div class="catering-bnr">
    <img src="/assets/img/logo.png" alt="">
    <div class="content-block">
      <img src="/assets/img/inrpg-cap.png" alt="">
      <h4>Outdoor Catering</h4>
    </div> 
  </div>
  <div class="row m-0">
    <div class="col-lg-8 offset-lg-2 catering-content-para">
      <p>Take the stress out of entertaining by getting The Banqueting Lounge and our event catering team to cook for you. Whether you are planning dinner, drinks party or special event, we have the ideas,staff and experience to make it exceptional.</p>
    </div>
  </div>
  <div class="catering">
      <div class="row m-0">    
          <div class="col-lg-6 catering-content">
            <h3>Corporate Events</h3>
            <p>Our experienced chefs combine the finest ingredients and spices to create the most succulent and diverse menus. Our specialist continental chefs are at hand with imaginative menu selections to grace any table.</p>
            <a href="" routerLink="/contact">Contact Us</a>
          </div>
          <div class="col-lg-6 p-0">
            <img src="/assets/img/cat1.jpg" alt="">
          </div>
        </div>
    <div class="row m-0">
      <div class="col-lg-6 p-0">
        <img src="/assets/img/cat2.jpg" alt="">
      </div>
      <div class="col-lg-6 catering-content">
        <h3>Off - Premise</h3>
        <p>We offer off-premise service, with the ability to deliver the finest catering to you at the site of your choice. We will make every effort to ensure that you and your guests leave with cherished memories. Naturally, you want the best for your event. We’re here to listen and deliver your dream. Our intention is to turn ordinary gatherings into special events.</p>
        <a href="" routerLink="/contact">Contact Us</a>
      </div>
    </div>
    <div class="row m-0">    
      <div class="col-lg-6 catering-content">
        <h3>Mobile Catering</h3>
        <p>We offer a wide range of services designed to meet any catering need. Our menus reflect our versatility in all price ranges. Constantly challenged to create innovative and exciting menu selections, our kitchen takes full advantage of the season’s offerings.Any item on our menu can be specifically tailored to an individual’s needs. And most importantly the quality of our food and service is unbeatable.</p>
        <a href="" routerLink="/contact">Contact Us</a>
      </div>
      <div class="col-lg-6 p-0">
        <img src="/assets/img/cat3.jpg" alt="">
      </div>
    </div>
    <div class="row m-0">
        <div class="col-lg-6 p-0">
          <img src="/assets/img/cat4.jpg" alt="">
        </div>
        <div class="col-lg-6 catering-content">
          <h3>Industrial Catering</h3>
          <p>For an event requiring outstanding food and service, we offer the best with specialized menus in affordable prices.Whether you are planning a cocktail party, anniversary celebration, holiday party or intimate gathering, you are ensured the highest level of attention to achieve a flawless event. We use the highest quality products and the finest, freshest ingredients available.</p>
          <a href="" routerLink="/contact">Contact Us</a>
        </div>
      </div>
      <div class="row m-0">    
        <div class="col-lg-6 catering-content">
          <h3>Special Event Catering</h3>
          <p>To aid you in finding your venue location, we provide access to the most unique, exciting and beautiful venues for your special events. We are a full service catering company and always strive to exceed all expectations. Specializing in the planning and careful execution of weddings, corporate events. You can expect custom menus, delicious foods skillfully prepared and presented beautifully for us.</p>
          <a href="" routerLink="/contact">Contact Us</a>
        </div>
        <div class="col-lg-6 p-0">
          <img src="/assets/img/cat5.jpg" alt="">
        </div>
      </div>
      <div class="row m-0">    
        <div class="col-lg-6 p-0">
          <img src="/assets/img/cat6.jpg" alt="">
        </div>
        <div class="col-lg-6 catering-content">
          <h3>Business Catering</h3>
          <p>Developed specifically for our corporate clients, which focuses on the needs of busy professionals. We realize that business people look for a caterer that offers a high quality product, is timely in their services and offers a variety of menu options. We offer special menus with good quality that satisfy the needs of the customer. If this is more to your taste, just ask and we will arrange a food tasting of the menu you require.</p>
          <a href="" routerLink="/contact">Contact Us</a>
        </div>
      </div>
  </div>
  
  