.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 200px;
}
.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar.mat-primary {
  /* position: fixed; */
  top: 0;
  z-index: 1;
  /* background: transparent; */
  border-bottom: 1px solid #ddd;
}
mat-icon{
  margin: 0 5px 0 0;
}
mat-toolbar a{
  margin-top: 15px;
}
mat-toolbar a:hover{ 
 color: #005663;
}
mat-toolbar a:hover:first-child{
  background: transparent;
}
router-outlet{
  position: absolute;
  top: 0;
}