<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/eventsplanning">Events Planning</a>
      <a mat-list-item routerLink="/menu">Menu</a>
      <a mat-list-item routerLink="/catering">Catering</a>
      <a mat-list-item routerLink="/eventdecor">Event Decor</a>
      <a mat-list-item routerLink="/gallery">Gallery</a>
      <a mat-list-item routerLink="/contact">Contact</a>
      <a mat-list-item routerLink="/outdoorcatering">Outdoor Catering</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="row m-0">
        <div class="col-lg-3"><a routerLink="/"><img src="assets/img/rayyan-logo.png" alt="" width="150px"></a></div>
        <div class="col-lg-9 menu-items">
          <a mat-button routerLink="/" *ngIf="!(isHandset$ | async)"><mat-icon>home</mat-icon><span>Home</span></a>
          <a mat-button routerLink="/eventsplanning" *ngIf="!(isHandset$ | async)"><mat-icon>local_florist</mat-icon><span>Events Planning</span></a>
          <a mat-button routerLink="/menu" *ngIf="!(isHandset$ | async)"><mat-icon>format_line_spacing</mat-icon><span>Menu</span></a>
          <a mat-button routerLink="/catering" *ngIf="!(isHandset$ | async)"><mat-icon>nature_people</mat-icon><span>Catering</span></a>
          <a mat-button routerLink="/eventdecor" *ngIf="!(isHandset$ | async)"><mat-icon>color_lens</mat-icon><span>Event Decor</span></a>
          <a mat-button routerLink="/gallery" *ngIf="!(isHandset$ | async)"><mat-icon>collections</mat-icon><span>Gallery</span></a>
          <a mat-button routerLink="/contact" *ngIf="!(isHandset$ | async)"><mat-icon>call</mat-icon><span>Contact</span></a>
          <a mat-button routerLink="/outdoorcatering" *ngIf="!(isHandset$ | async)"><mat-icon>nature_people</mat-icon><span>Outdoor Catering</span></a>                    
        </div>
      </div>                  
    </mat-toolbar>        
    <!-- Add Content Here -->
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>    
      <app-footer></app-footer>
    </div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
