/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
    font-family: 'Gabriola';
    src: url('/fonts/Gabriola.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Futura Lt Bt';
    src: url('/fonts/futura-lt.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
  font-family: 'Futura Bk Bt';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/futura-bk.ttf');
  }
  @font-face {
  font-family: 'Futura Md Bt';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/futura-md.ttf');
  }
  @font-face {
  font-family: 'Futura bd i';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/futura-bld-i.ttf');
  }
  @font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/PlayfairDisplay-Regular.ttf');
  }
  @font-face {
  font-family: 'Playfair Display Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/PlayfairDisplay-Bold.ttf');
  }
  @font-face {
  font-family: 'Playfair Display Black';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/PlayfairDisplay-Black.ttf');
  }
  @font-face {
  font-family: 'Playfair Display Itallic';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/PlayfairDisplay-Italic.ttf');
  }