.main-bnr{
    background-image: url('/assets/img/main-bnr.jpg');
    background-repeat: no-repeat;
    height: 650px;
    padding-top: 60px;
}
.main-bnr img.bnr-logo{
    margin: 0 auto;
    display: block;
    padding: 10px 0;
}
.main-bnr img.bnr-block{
    margin: 0 auto;
    display: block;
}
.main-bnr .bnr-content{
    position: absolute;
    left: 44%;
    top: 43%;    
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: 700;    
}
.main-bnr .bnr-content p:first-child,.main-bnr .bnr-content p:nth-child(2){
    font-family: 'Playfair Display Itallic';
    font-style: italic;
    font-weight: 500;
    font-size: 34px;
}
.main-bnr .bnr-content p:nth-child(3),.main-bnr .bnr-content p:last-child{
    font-family: 'Playfair Display Black';
}
.sec-block p{
    text-align: center;
    color: #005663;
    font-size: 30px;
    line-height: 54px;
}
.sec-block a.rayyan-btn{
    color: #005663;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 20px;
    border-top: 1px solid #ca8a2f;
    border-bottom: 1px solid #ca8a2f;
    border-radius: 0;    
}
.sec-block a:hover{
    text-decoration: none;    
}
.third-block1,.third-block2{
    /* background-image: url('/assets/img/category3.jpg'); */
    /* height: 500px; */
    position: relative;
    width: 100%;
    padding:0;
}
.third-block1 h3{
    font-size: 30px;
    color: #005663;
    font-weight: 700;
}
.third-block1 p{
    font-size: 20px;
    color: #005663;    
}
.third-block1 a{
    color: #005663;
    padding: 5px 25px;
    background: transparent;
    box-shadow: none;
    border-top: 1px solid #ca8a2f;
    border-bottom: 1px solid #ca8a2f;
    border-radius: 0;
    margin-top: 40px;
}
.third-block1 .capt.main{
    position: absolute;
    left: 50%;
    top: -26%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    padding: 36px;
    border-radius: 50%;
    background-color: rgb(255,255,255,0.81);
}
.third-block1 .capt.main .inr{
    border: 2px dotted #005663;
    height: 360px;
    width: 360px;
    padding: 25% 36px;
    text-align: center;
    border-radius: 50%;
}
.third-block2 .capt{
    position: absolute;
    left: 50%;
    top: -15%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    padding: 36px;
    border-radius: 50%;
    background-color: rgb(255,255,255,0.81);
}
.third-block2 .capt .inr{    
    height: 300px;
    width: 300px;
    padding: 30% 36px;
    text-align: center;
    border-radius: 50%;
}
.third-block2 h3{
    color: #005663;
    font-weight: 700;    
    font-size: 30px;
}
.third-block2 p{
    color: #005663;    
    font-size: 18px;
}
.third-block2 mat-icon{
    color: #005663;
}
.footer-bnr{
    background-image: url('/assets/img/footer-bnr2.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 780px;    
}
.footer-bnr{
    position: relative;
}
.footer-bnr ul{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #1D5762;    
    padding: 20px 50px;
    margin-bottom: 0;
}
.footer-bnr ul li{
    display: inline;
    color: #fff;
    font-size: 20px;
    font-weight: 700;   
    margin: 0px 50px;
}
.footer-bnr ul a{
   color: #fff; 
}